<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>垃圾类别及数量</title>
    <style>
        .text {
            width: 500px;
            height: 370px;
            margin: 5px;
            text-align: center;
            background-color: #F2F2F2;
            border-radius: 20px;
            display: inline-block;
        }

        .show {
            text-align: center;
            clear: both;
        }

        .test1 {
            box-sizing: content-box;
            width: 100%;
            padding: 30px;
        }

        table {
            margin: auto;
            align-content: center;
            width: 320px;
            padding: 5px;
        }

        td {
            text-align: left;
        }

        a.main:link {
            color: #000000;
        }

        a.main:visited {
            color: #000000;
        }

    </style>
</head>

<body>
<div class="test1">
    <div class="show">
        <div class="text">
            <h2>干垃圾(12种)</h2>
            <table>
                <tr>
                    <td>plastic_bag</td>
                    <td>塑料袋</td>
                </tr>
                <tr>
                    <td>toothbrush</td>
                    <td>牙刷</td>
                </tr>
                <tr>
                    <td>plastic_bag</td>
                    <td>卫生纸</td>
                </tr>
                <tr>
                    <td>eyeglasses</td>
                    <td>眼镜</td>
                </tr>
                <tr>
                    <td>meal_box</td>
                    <td>餐盒</td>
                </tr>
                <tr>
                    <td>umbrella</td>
                    <td>雨伞</td>
                </tr>
                <tr>
                    <td>shoes</td>
                    <td>鞋</td>
                </tr>
                <tr>
                    <td>paper_cup</td>
                    <td>纸杯</td>
                </tr>
                <tr>
                    <td>woven_bag</td>
                    <td>编织袋</td>
                </tr>
                <tr>
                    <td>pen</td>
                    <td>笔</td>
                </tr>
                <tr>
                    <td>desiccant</td>
                    <td>干燥剂</td>
                </tr>
                <tr>
                    <td>towel</td>
                    <td>毛巾</td>
                </tr>
            </table>
        </div>
        <div class="text">
            <h2>湿垃圾(22种)</h2>
            <table>
                <tr>
                    <td>apple</td>
                    <td>苹果</td>
                    <td>banana</td>
                    <td>香蕉</td>
                </tr>
                <tr>
                    <td>beans</td>
                    <td>豆类</td>
                    <td>bread</td>
                    <td>面包</td>
                </tr>
                <tr>
                    <td>cake</td>
                    <td>蛋糕</td>
                    <td>dumplings</td>
                    <td>包子</td>
                </tr>
                <tr>
                    <td>french_fries</td>
                    <td>薯条</td>
                    <td>gyoza</td>
                    <td>饺子</td>
                </tr>
                <tr>
                    <td>hamburger</td>
                    <td>汉堡包</td>
                    <td>kiwi</td>
                    <td>猕猴桃</td>
                </tr>
                <tr>
                    <td>lemon</td>
                    <td>柠檬</td>
                    <td>meat</td>
                    <td>肉类</td>
                </tr>
                <tr>
                    <td>noodles</td>
                    <td>面条</td>
                    <td>orange</td>
                    <td>橘子</td>
                </tr>
                <tr>
                    <td>pear</td>
                    <td>梨子</td>
                    <td>pitahaya</td>
                    <td>火龙果</td>
                </tr>
                <tr>
                    <td>pizza</td>
                    <td>披萨</td>
                    <td>potato</td>
                    <td>土豆</td>
                </tr>
                <tr>
                    <td>rice</td>
                    <td>米饭</td>
                    <td>soup</td>
                    <td>汤</td>
                </tr>
                <tr>
                    <td>strawberry</td>
                    <td>草莓</td>
                    <td>porridge</td>
                    <td>粥</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="show">
        <div class="text">
            <h2>有害垃圾(8种)</h2>
            <table>
                <tr>
                    <td>thermometer</td>
                    <td>体温计</td>
                </tr>
                <tr>
                    <td>pill</td>
                    <td>药片</td>
                </tr>
                <tr>
                    <td>paint_bucket</td>
                    <td>油漆桶</td>
                </tr>
                <tr>
                    <td>bulb</td>
                    <td>灯泡</td>
                </tr>
                <tr>
                    <td>battery</td>
                    <td>电池</td>
                </tr>
                <tr>
                    <td>lamp</td>
                    <td>日光灯</td>
                </tr>
                <tr>
                    <td>pesticide</td>
                    <td>杀虫剂</td>
                </tr>
                <tr>
                    <td>lighter</td>
                    <td>打火机</td>
                </tr>
            </table>
        </div>
        <div class="text">
            <h2>可回收垃圾(8种)</h2>
            <table>
                <tr>
                    <td>can</td>
                    <td>易拉罐</td>
                </tr>
                <tr>
                    <td>paper_box</td>
                    <td>纸箱</td>
                </tr>
                <tr>
                    <td>paper</td>
                    <td>纸</td>
                </tr>
                <tr>
                    <td>clothes</td>
                    <td>衣服</td>
                </tr>
                <tr>
                    <td>water_bottle</td>
                    <td>水杯</td>
                </tr>
                <tr>
                    <td>plastic_bottle</td>
                    <td>塑料瓶</td>
                </tr>
                <tr>
                    <td>glass_bottle</td>
                    <td>玻璃瓶</td>
                </tr>
                <tr>
                    <td>schoolbag</td>
                    <td>书包</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <a href="/" class="main">返回主页</a>
    </div>
</div>
</body>
</html>